<!-- <div class="container centroPadre border border-3">
    <div class="item">item1</div>
    <div class="item">item2</div>
    <div class="item">item3</div>
</div> -->

<div class="container-fluid">

    <div class="p-1">
        <div class="txtProduct">Productos</div>
    </div>

    <div class="marcoProductos pt-3">
        <div class="container">
  
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">

                <div class="col btnCard">
                    <div class="card cardAll divAnimatedCard">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div>
                                        <img class="imgProduct" src="/assets/img/product1.jpg" alt="product1">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h4>Titulo1</h4>
                                    <h5>titulo2</h5>
                                    <div style="font-size:12px;">Descripcion del producto</div>
                                </div>
                            </div>
                
                                <div class="divPrecios">
                                    <div>Valor descuento: </div>
                                    <div>$00.00</div>
                                </div>
                                <div class="divPrecios">
                                    <div>Precio total:</div>
                                    <div>$00.00</div>
                                </div>
                
                
                            <div class="btnEndCard">
                                <button type="button" class="btn btnComprar btnFin">Agregar Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col btnCard">
                    <div class="card cardAll divAnimatedCard">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div>
                                        <img class="imgProduct" src="/assets/img/product1.jpg" alt="imgProduct">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h4>Titulo1</h4>
                                    <h5>titulo2</h5>
                                    <div style="font-size:12px;">Descripcion del producto</div>
                                </div>
                            </div>
                
                                <div class="divPrecios">
                                    <div>Valor descuento: </div>
                                    <div>$00.00</div>
                                </div>
                                <div class="divPrecios">
                                    <div>Precio total:</div>
                                    <div>$00.00</div>
                                </div>
                
                
                            <div class="btnEndCard">
                                <button type="button" class="btn btnComprar btnFin">Agregar Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>


         <div class="col btnCard mb-3">
                    <div class="card cardAll divAnimatedCard">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div>
                                        <img class="imgProduct" src="/assets/img/product1.jpg" alt="product1">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h4>Titulo1</h4>
                                    <h5>titulo2</h5>
                                    <div style="font-size:12px;">Descripcion del producto</div>
                                </div>
                            </div>
                
                                <div class="divPrecios">
                                    <div>Valor descuento: </div>
                                    <div>$00.00</div>
                                </div>
                                <div class="divPrecios">
                                    <div>Precio total:</div>
                                    <div>$00.00</div>
                                </div>
                
                
                            <div class="btnEndCard">
                                <button type="button" class="btn btnComprar btnFin">Agregar Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col btnCard">
                    <div class="card cardAll divAnimatedCard">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div>
                                        <img class="imgProduct" src="/assets/img/product1.jpg" alt="product1">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h4>Titulo1</h4>
                                    <h5>titulo2</h5>
                                    <div style="font-size:12px;">Descripcion del producto</div>
                                </div>
                            </div>
                
                                <div class="divPrecios">
                                    <div>Valor descuento: </div>
                                    <div>$00.00</div>
                                </div>
                                <div class="divPrecios">
                                    <div>Precio total:</div>
                                    <div>$00.00</div>
                                </div>
                
                
                            <div class="btnEndCard">
                                <button type="button" class="btn btnComprar btnFin">Agregar Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>


<footer  id="footer">

    <app-footer></app-footer>

</footer>