<div class="container centroPadre border border-3">
    <div class="item">item1</div>
    <div class="item">item2</div>
    <div class="item">item3</div>

</div>

<div class="container">
    <div class="fondoCardUno">
        <div class="container">
            <div class="p-3">
                <div class="txtTotalCuenta">Productos</div>
            </div>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">

                        <div class="col btnCard p-3">
                         
                            <div class="card cardAll cardAhorroProg divAnimatedAhorro">
                                <div class="card-body">
                                    <div>Titulo</div>
                                    <div class="mb-1">descricion</div>
                                    <div class="txtSizeVal mb-1">$ 00.00</div>
                                    <div class="divInteresTasa">
                                        <div class="text-muted">total sin intereses</div>
                                        <div class="text-muted">Total a pagar</div>
                                        <div></div>
                                    </div>
                                    <div class="divInteresTasa">
                                        <div> $00.00</div>
                                        <div>00,0%</div>
                                        <div></div>
                                    </div>
                                    <div class="btnEndCard">
                                        <button type="button" class="btn btnVerRendimiento btnFin">VER RENDIMIENTO</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col btnCard p-3">
                            <div class="card cardAll cardAhorroProg divAnimatedAhorroPro">
                                <div class="card-body">
                                    <div>Titulo1</div>
                                    <div class="mb-1">titulo2</div>
                                    <div class="txtSizeVal mb-1">informacion</div>
                                    <div class="divInteresTasa">
                                        <div class="text-muted">Precio descuento </div>
                                        <div class="text-muted">Precio total</div>
                                        <div></div>
                                    </div>
                                    <div class="divInteresTasa">
                                        <div>$00.00</div>
                                        <div>$00.00</div>
                                        <div></div>
                                    </div>
                                    <div class="btnEndCard">
                                        <button type="button" class="btn btnVerRendimiento btnFin">Agregar Carrito</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                <div class="col btnCard p-3">
                    <div class="card cardAll cardAhorroProg divAnimatedAhorroPro">
                        <div class="card-body">
                            <div>Ahorro Programado</div>
                            <div class="mb-1">98765432432</div>
                            <div class="txtSizeVal mb-1">$ 00.00</div>
                            <div class="divInteresTasa">
                                <div class="text-muted">INTERES GANADO</div>
                                <div class="text-muted">TASA DE INTERES</div>
                                <div></div>
                            </div>
                            <div class="divInteresTasa">
                                <div> $00.00</div>
                                <div>00,0%</div>
                                <div></div>
                            </div>
                            <div class="btnEndCard">
                                <button type="button" class="btn btnVerRendimiento btnFin">VER RENDIMIENTO</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col btnCard p-3">
                    <div class="card cardAll divAnimatedAhorroPro">
                        <div class="card-body">
                            <div class="imgSimuladorAhorro">
                            </div>
                            <div class="divBtnSimAhorroProg">
                                <div class="txtSimAhorroProg btnFin">SIMULADOR DE AHORRO PROGRAMADO</div>
                                <button type="button" class="btn btnFin btnVerRendimiento">SIMULAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
