
.marcoProductos {
    display: flex;
    background-color: #0c7fb4;
    height: 630px;
    align-items: self-start;
}

.txtProduct {
    font-size: xx-large;
}

.btnCard {
    display: block;
    cursor: pointer;
}

.cardAll {
    width: 80%;
    height: 13rem !important;
    border-radius: 25px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.btnFin {
    align-self: flex-end;
}


.btnEndCard {
    display: flex;
    justify-content: center;
    height: 100%;
}

.divPrecios {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.text-muted {
    font-size: medium;
    color: red;
}

.btnComprar {
    color: #3b3738;
    background-color: #e6e1e1;
    border-color: #fff;
    border-radius: 10px;
    font-size: x-small;
    font-weight: 600;
}

    .btnComprar:active {
        color: #fff;
        background-color: #0c7fb4;
        border-color: #fff;
        border-radius: 10px;
    }

/*animated las demas tarjetas*/
.divAnimatedCard {
    position: relative;
    animation-name: animatedAhorroPro;
    animation-duration: 7s;
    animation-delay: 0s;
}
@keyframes animatedAhorroPro {
    0% {
        background-color: #777;
        left: -300px;
        top: 0px;
        color: #808080;
    }

    25% {
        background-color: #d1d1d1;
        left: 0.5px;
        top: 0px;
    }
}




/**/
@media (hover: hover) {

    .btnComprar:hover {
        color: #fff;
        background-color: #0c7fb4;
        border-color: #fff;
        border-radius: 10px;
    }

    .btnVerMov:hover {
        color: #fff;
        background-color: #0c7fb4;
        border-color: #fff;
        border-radius: 10px;
    }

    .col:hover .btnComprar {
        color: #fff;
        background-color: #49c2f1;
        border-color: #fff;
        border-radius: 10px;
    }

    .col:hover {
        padding: 0.5rem !important;
    }
}


.imgProduct {
    width: 150px;
    height: auto;
    border-radius: 9px;
    border: 1px solid #718063;
}
